<div class="row justify-content-center" style="margin-top:15px;">

    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <img src="{{site.url}}/assets/images/ba/cyclone-etatoko.png" class="img-fluid">
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <img src="{{site.url}}/assets/images/ba/flooding-votua.png" class="img-fluid">
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <img src="{{site.url}}/assets/images/ba/flooding-wavu-wavu.png" class="img-fluid">
    </div>

</div>