<!-- Info -->
<div class="info" id="info">

    <div class="container" style="margin-top:100px; margin-bottom:-60px;">
        <h2>Info</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                
                <p>More information on how to get involved will be coming soon.</p>
                <p>To complete these workshops you need to sign up for Google Earth Engine.</p>
                <a class="btn btn-primary" href="https://earthengine.google.com" role="button">Sign up</a>
                
            </div>
        </div>
    </div>

</div>