<!-- Info -->

<!-- Team -->

<div class="info" id="info">

    <div class="container" style="margin-top:100px; margin-bottom:-30px;">

        <h2>Info</h2>
                
        <p>More information on how to get involved will be coming soon.</p>
        <p>To complete these workshops you need to sign up for <a href="https://earthengine.google.com" target="_blank">Google Earth Engine</a> and access to a web browser.</p>   
        
        <h4>Feedback</h4>

        <p>The <em>British Council Australia UK Season</em> are interested in feedback about the Season. If you have one minute, please share your thoughts after completing a workshop. Thanks.</p>
        <a class="btn btn-primary" href="https://forms.gle/9nY1RQTh97soHhCLA" target="_blank">Feedback form</a>
    </div>

</div>