<!-- Team -->
<div class="team" id="team">

    <div class="container" style="margin-top:100px; margin-bottom:20px;">
             
      <h2>The Instructors</h2>
          <p>We're a team of geographers, marine scientists, and geospatial analysts based at The University of Western Australia and The University of Sydney.</p>
    
          <div class="row d-flex justify-content-around hidden-sm">
      
            <div class="col-lg-2 col-md-2 col-sm-6 item">
              <figure>
                <img src="{{site.url}}/assets/images/team/ebruce.png" class="img-fluid img-thumbnail">
                <figcaption><a href="https://www.sydney.edu.au/science/about/our-people/academic-staff/eleanor-bruce.html" target="_blank">Eleanor Bruce</a></figcaption>
              </figure>
            </div>
      
            <div class="col-lg-2 col-md-2 col-sm-6 item">
              <figure>
                <img src="{{site.url}}/assets/images/team/bboruff.png" class="img-fluid img-thumbnail">
                <figcaption><a href="https://research-repository.uwa.edu.au/en/persons/bryan-boruff" target="_blank">Bryan Boruff</a></figcaption>
              </figure>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 item">
                <figure>
                  <img src="{{site.url}}/assets/images/team/npauli.png" class="img-fluid img-thumbnail">
                  <figcaption><a href="https://research-repository.uwa.edu.au/en/persons/natasha-pauli" target="_blank">Natasha Pauli</a></figcaption>
                </figure>
            </div>

          </div>
          <div class="row d-flex justify-content-around hidden-sm">
      
            <div class="col-lg-2 col-md-2 col-sm-6 item">
              <figure>
                <img src="{{site.url}}/assets/images/team/kdavies.png" class="img-fluid img-thumbnail">
                <figcaption><a href="https://www.sydney.edu.au/science/about/our-people/academic-staff/kevin-davies.html" target="_blank">Kevin Davies</a></figcaption>
              </figure>
            </div>
      
            <div class="col-lg-2 col-md-2 col-sm-6 item">
              <figure>
                <img src="{{site.url}}/assets/images/team/jduncan.png" class="img-fluid img-thumbnail">
                <figcaption><a href="https://research-repository.uwa.edu.au/en/persons/john-duncan" target="_blank">John Duncan</a></figcaption>
              </figure>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 item">
                <figure>
                  <img src="{{site.url}}/assets/images/team/shickey.png" class="img-fluid img-thumbnail">
                  <figcaption><a href="https://research-repository.uwa.edu.au/en/persons/sharyn-hickey" target="_blank">Sharyn Hickey</a></figcaption>
                </figure>
            </div>

          </div>

    </div>
</div>