<!-- Workshops -->
<div class="workshops" id="workshops">

  <div class="container" style="margin-top:100px; margin-bottom:-30px;">

    <h2>The Workshops</h2>
    <p>The workshops are designed to last for about two hours. You will get introduced to a case study of how climatic
      change and hazards are impacting coastal ecosystems and communities. You will also be taught about geospatial
      data, how it used to monitor changes on the Earth's surface, and how derive insights from these changes to
      understand our changing planet and inform how we adapt to climate change. The skills you learn for analysing
      geospatial data will be transferable to other human and environmental issues such as deforestation, agriculture,
      and urban planning.</p>
    <div class=row style="margin-top:15px;">

      <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="card border-primary mb-4 h-100">
          <div class="card-img">
            <img src="{{site.url}}/assets/images/kalbarri.png" alt="...">
          </div>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">Tropical Cyclone Seroja</h4>
            <p class="card-text">Map building damage in Kalbarri after Tropical Cyclone Seroja.</p>
            <a class="btn btn-primary mt-auto align-items-end" href="/kalbarri-workshop.html" target="_blank"
              role="button">Workshop</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="card border-primary mb-4 h-100">
          <div class="card-img">
            <img src="{{site.url}}/assets/images/mangrove-gulf-title.png" alt="...">
          </div>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">Mangrove Dieback in the Gulf of Carpentaria</h4>
            <p class="card-text">Map and analyse a mangrove dieback event in the Gulf of Carpentaria.</p>
            <a class="btn btn-primary mt-auto align-items-end" href="/mangrove-gulf-workshop.html" target="_blank"
              role="button">Workshop</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="card border-primary mb-4 h-100">
          <div class="card-img">
            <img src="{{site.url}}/assets/images/ba.jpg" alt="...">
          </div>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">Mangroves and Livelihoods in Fiji</h4>
            <p class="card-text">Use satellite images and a virtual mangrove tour in Google Earth to see how Tropical
              Cyclone Winston affected mangroves and livelihoods.</p>
            <a class="btn btn-primary mt-auto align-items-end" href="/ba-workshop.html" target="_blank"
              role="button">Workshop</a>
          </div>
        </div>
      </div>

    </div>

    <p><small>(Satellite images - Google Earth: Imagery &copy;2021 Maxar Technologies, CNES / Airbus, Map data
        &copy;2021).</small></p>
  </div>
</div>