<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand">Workshops</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">

      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/kalbarri-workshop">Kalbarri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/mangrove-gulf-workshop">Gulf of Carpentaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/ba-workshop">Ba</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/geospatial-data">Geospatial data</a>
      </li>
    </ul>

  </div>
</nav>