---
---

body {
    background-image: url('{{site.url}}/assets/images/farm-bg-fade-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
  }

/*footer*/
.footer {
    flex-shrink: 0;
  }

/*home*/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('{{site.url}}/assets/images/s2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.home h1{
    color: #f8f9fa;
    font-weight: bold;
}

.home h4{
    color: #f8f9fa;
    font-weight: bold;
}

/* about */
.about{
    padding: 1em;
    position: relative;
}

.about img{
    width: 100%;
}

.about span{
    display: block;
    position: absolute;
    left: 15%;
}

/* workshops */
.workshops {
    padding: 1em;
    position: relative;
}

.workshops img{
    width: 100%;
}

.workshops span{
    display: block;
    position: absolute;
    left: 15%;
}

/* workshop cards*/
.workshops .card-img img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

/* team */
.info {
    padding: 1em;
    position: relative;
}

.info img{
    width: 100%;
}

.info span{
    display: block;
    position: absolute;
    left: 15%;
}


/* team */
.team {
    padding: 1em;
    position: relative;
}

.team img{
    width: 100%;
}

.team span{
    display: block;
    position: absolute;
    left: 15%;
}
