---
---

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f8f9fa;
    position: relative; 
  }

/*footer*/
.footer {
    flex-shrink: 0;
  }

/* landing page - set to full screen */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('{{site.url}}/assets/images/s2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.home h1{
    color: #f8f9fa;
    font-weight: bold;
}

.home h4{
    color: #f8f9fa;
    font-weight: bold;
}

/* about */
.about{
    padding: 1em;
    position: relative;
}

.about img{
    width: 100%;
}

/* workshops */
.workshops {
    padding: 1em;
    position: relative;
}

.workshops img{
    width: 100%;
}

/* workshop cards*/
.workshops .card-img img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

/* workshop tutorials*/ 
.workshop-img{
    max-width: 75%;
    height: auto;
}

.workshop-img-small{
    max-width: 50%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .workshop-img{
        max-width: 100%;
        height: auto;
    }
    
    .workshop-img-small{
        width: 75%;
        height: auto;
    }
}

.workshop-content h1{
    border-top: 2px solid #5a5a5a;
}

/* sidebar for workshop contents*/
.workshops-wrapper{
    display: flex;
    width: 100%;
}


.sidebar {
    min-width: 250px;
    max-width: 250px;
    top: 100px;
    height: 100vh;
}

/* Make selected heading in toc green -  https://stackoverflow.com/questions/54202804/how-to-properly-set-tocbot-with-bootrap-4 */
a.is-active-link::before {
    background-color: #78c2ad;
}

/* team */
.info {
    padding: 1em;
    position: relative;
}

.info img{
    width: 100%;
}

/* team */
.team {
    padding: 1em;
    position: relative;
}

.team img{
    width: 100%;
}


